.CarteBlog{
    width: 90%;
    max-width: 35rem;
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.CarteBlog:hover{
    border-color: var(--NanoX-appcolor);
}
.CarteBlogImg{
    border: 1px solid black;
    border-radius: 5px;
    max-width:100%;
    max-height:100%;
}
/* Titre du Blog */
.DivTitreBlogPost{
    width: 99%;
    max-width: 1000px;
    margin: 0.5rem;
    font-size: 2.5rem;
    color: var(--NanoX-appcolor);
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    word-wrap: break-word;
    -webkit-user-select: text;
    user-select: text;
    border: 2px solid transparent;
    border-radius: 10px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9;
}
.DivTitreBlogPost:focus{
    outline: 0px solid transparent;
}
/* Image du blog */
.ImgBlog{
    border: 2px solid transparent;
    border-radius: 30px;
    max-height: 30rem;
    padding: 1rem;
    max-width: 100%;
}
/* Box d'un post dans la liste des post du blog */
.BoxElementPost{
    width: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0.1rem;
    cursor: pointer;
}
.BoxElementPost:hover{
    background-color: #F8F8F8;
}
.DivPost{
    width: 95%;
    max-width: 1100px;
    margin-top: 2.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Post Titre1 */
.PostTitre1{
    -webkit-user-select: text;
    user-select: text;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0% 1rem 0% 1rem;
    padding:0.5rem;
    font-size: 2rem;
    color: var(--NanoX-appcolor);
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    word-wrap: break-word;
}
.PostTitre1:focus{
    outline: 0px solid transparent;
}
/* Post Text */
.PostText{
    -webkit-user-select: text;
    user-select: text;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0% 1rem 0% 1rem;
    padding:0.5rem;
    font-size: 1.2rem;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    word-wrap: break-word;
}
.PostText:focus{
    outline: 0px solid transparent;
}
/* Post Code*/
.PostCode{
    -webkit-user-select: text;
    user-select: text;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 0% 1.5rem 1rem 1.5rem;
    padding:0.5rem;
    font-size: 1.2rem;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: balck;
    background-color: #f7f7f9;
    word-wrap: break-word;
}
.PostCode:focus{
    outline: 0px solid transparent;
}

/* Image du post */
.ImgPost{
    border: 2px solid transparent;
    border-radius: 30px;
    max-height: 35rem;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 100%;
}
.ImgPost:focus{
    outline: 0px solid transparent;
}

/* Post VideoLink */
.PostVideoLink{
    -webkit-user-select: text;
    user-select: text;
    border: 2px solid transparent;
    border-radius: 10px;
    padding:1rem;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    width: 95%;
    padding-bottom: calc(0.5625 * 95%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #F5F5F5;
}
.PostVideoLink:focus{
    outline: 0px solid transparent;
}

.Video{
    width:90%;
    margin:1rem;
}

/* Post MapLink */
.PostMapLink{
    -webkit-user-select: text;
    user-select: text;
    border: 2px solid transparent;
    border-radius: 10px;
    padding:1rem;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    width: 95%;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #F5F5F5;
}
.PostMapLink:focus{
    outline: 0px solid transparent;
}

.Iframe{
    width:95%;
    margin:1rem;
    height: 30rem;
}

.EditMenuBar{
    position: fixed;
    border: 1px solid var(--NanoX-appcolor);
    border-radius: 15px;
    padding: 0.2rem;
    background-color: white;
}

.EditMenuBarNormal{
    right: 0.5rem;
    top: 50vh;
    transform: translateY(-50%);
}

.EditMenuBarMobile{
    top: calc(0.5rem + env(safe-area-inset-top, 0px));
}

.ButtonEditMenuBar{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    padding: 0.2rem;
    background-color: white;
    margin: 0.2rem;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    outline: none;
}
@media(hover: hover){
    .ButtonEditMenuBar:hover{
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    }
}



@media print{
    body{height: auto;   }
    .NoPrint{display: none;}
    .DivPostPage{border: 1px solid transparent; box-shadow: none;}
    .ImgPost{max-height: 40vh;}
    .Titre{font-size: 40px;}
    .PostTitre1{font-size: 20px;}
    .PostText{font-size: 12px;}
    .PostCode{font-size: 12px;}
    .TextBoxSub{font-size: 11px;}
    .Video{ width:70%;}
}