html{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}

/* Titre */
.Titre{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--NanoX-appcolor);
    word-wrap: break-word;
}

/* Sous Titre */
.SousTitre{
    font-size: 1.5rem;
    color: var(--NanoX-appcolor);
}

/* Texte */
.Text{
    font-size: 1.2rem;
}
.TextSmall{
    font-size: 0.8rem;
    word-wrap: break-word;
}
.TextBoxTitre{
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: black;
}
.TextNote{
    color: rgb(184, 184, 184);
    font-style: italic;
}
.TextBoxSub{
    color: rgb(184, 184, 184);
    font-style: italic;
}
/* Button */
.Button{
    margin: 2rem 0 1rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid var(--NanoX-appcolor);
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    color: rgb(44,1,21);
    background: white;
    outline: none;
}
.Button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}