html{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}

/* Titre */
.Titre{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--NanoX-appcolor);
    word-wrap: break-word;
}

/* Sous Titre */
.SousTitre{
    font-size: 1.5rem;
    color: var(--NanoX-appcolor);
}

/* Texte */
.Text{
    font-size: 1.2rem;
}
.TextSmall{
    font-size: 0.8rem;
    word-wrap: break-word;
}
.TextBoxTitre{
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: black;
}
.TextNote{
    color: rgb(184, 184, 184);
    font-style: italic;
}